.DS_Store
.cmd_history
*.txt
*.pyc
*.xlsx
*.log
requests/
versions/
.vscode/
add_data/*
!add_data/place\ import\ files\ here
.gitsecret/keys/random_seed
!*.secret
res/config.json
res/dat.json
res/error_msg_config.json
src/download_file.py